![Alt text](https://miro.medium.com/v2/resize:fit:960/0*puClFxWSP4buuk08.gif "a title")

In [4]:
# packages
import pandas as pd # for data processing
import seaborn as sns # for visualisation 
import matplotlib.pyplot as plt

In [3]:
netflix_data = pd.read_csv("dataset/cleaned_netflix_data.csv")
netflix_data.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
2,TV Show,On the Verge,Unknown,"Julie Delpy, Elisabeth Shue, Sarah Jones, Alex...","France, United States","September 7, 2021",2021,TV-MA,1 Season,"TV Comedies, TV Dramas","Four women — a chef, a single mom, an heiress ..."
3,Movie,Stowaway,Joe Penna,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Germany, United States","April 22, 2021",2021,TV-MA,116 min,"Dramas, International Movies, Thrillers",A three-person crew on a mission to Mars faces...
4,Movie,Wild Dog,Ahishor Solomon,"Nagarjuna Akkineni, Dia Mirza, Saiyami Kher, A...",Unknown,"April 22, 2021",2020,TV-MA,126 min,"Action & Adventure, International Movies",A brash but brilliant Indian intelligence agen...

In [25]:
netflix_data.isna().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [26]:
# Shape of the dataset
netflix_data.shape

(8807, 11)

In [27]:
# check non unique values 
netflix_data.nunique()

type               2
title           8807
director        4529
cast            7693
country          749
date_added      1767
release_year      74
rating            14
duration         220
listed_in        514
description     8775
dtype: int64

In [28]:
# check for duplicate values
netflix_data.duplicated().sum()

0

In [29]:
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8807 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
 10  description   8807 non-null   object
dtypes: int64(1), object(10)
memory usage: 757.0+ KB

In [30]:
# understanding variables
variables = pd.DataFrame(columns=['Variable','Num of unique values','values'])

for i,var in enumerate(netflix_data.columns):
    variables.loc[i] = [var,netflix_data[var].nunique(),netflix_data[var].unique().tolist()]

variables

,Variable,Num of unique values,values
0,type,2,"[Movie, TV Show]"
1,title,8807,"[Dick Johnson Is Dead, The Starling, On the Ve..."
2,director,4529,"[Kirsten Johnson, Theodore Melfi, Unknown, Joe..."
3,cast,7693,"[Unknown, Melissa McCarthy, Chris O'Dowd, Kevi..."
4,country,749,"[United States, France, United States, Germany..."
5,date_added,1767,"[September 25, 2021, September 24, 2021, Septe..."
6,release_year,74,"[2020, 2021, 2015, 2013, 2018, 2017, 2019, 201..."
7,rating,14,"[PG-13, TV-MA, TV-14, TV-Y, TV-Y7, R, PG, TV-P..."
8,duration,220,"[90 min, 104 min, 1 Season, 116 min, 126 min, ..."
9,listed_in,514,"[Documentaries, Comedies, Dramas, TV Comedies,..."
10,description,8775,"[As her father nears the end of his life, film..."

NETFLIX CONTENT RELEASE
----

In [91]:
# Extracting YEAR (2016) from dataset with data_added as 'February 19, 2016'

# Convert 'date_added' to datetime objects
netflix_data['date_added'] = pd.to_datetime(netflix_data['date_added'], errors='coerce')

# Extract the year from the 'date_added' column
netflix_data['year_added'] = netflix_data['date_added'].dt.year

# Count the number of titles added in each year
yearly_counts = netflix_data['year_added'].value_counts()

# Sort the counts by year
yearly_counts = yearly_counts.sort_index()

# Display the counts per year
print(yearly_counts)

year_added
2008.0       2
2009.0       2
2010.0       1
2011.0      13
2012.0       3
2013.0      10
2014.0      23
2015.0      73
2016.0     418
2017.0    1164
2018.0    1625
2019.0    1999
2020.0    1888
2021.0    1498
Name: count, dtype: int64

In [92]:
# Convert 'date_added' to datetime
netflix_data['date_added'] = pd.to_datetime(netflix_data['date_added'], errors='coerce')

# Extract the year from the 'date_added' column
netflix_data['year_added'] = netflix_data['date_added'].dt.year

# Count the number of titles added in each year and categorize them by 'type'
yearly_counts = netflix_data.groupby(['year_added', 'type']).size().unstack(fill_value=0)

# Display the counts per year, categorized as "TV" and "Movies"
print(yearly_counts)

type        Movie  TV Show
year_added
2008.0          1        1
2009.0          2        0
2010.0          1        0
2011.0         13        0
2012.0          3        0
2013.0          6        4
2014.0         19        4
2015.0         56       17
2016.0        253      165
2017.0        839      325
2018.0       1237      388
2019.0       1424      575
2020.0       1284      604
2021.0        993      505

In [6]:
netflix_data['title'].unique()

array(['Dick Johnson Is Dead', 'The Starling', 'On the Verge', ...,
       'HOMUNCULUS', 'Life in Color with David Attenborough',
       'Searching For Sheela'], dtype=object)

FILTERING 
---
1. FILTERING BASED ON SPECIFIC CONDITIONS LIKE 'type' = Movie/TV Show AND 'country' , SHOW THE TITTLE OF THE TV SHOWS IN UK
---

In [23]:
# export data frame to show the number of shows released in @ country
country_data = netflix_data['country'].value_counts().reset_index()
country_data.columns = ['country', 'Count']
country_data.to_csv('country_data.csv', index=False)

In [24]:
# netflix_data[(netflix_data['type'] == 'TV Show') & (netflix_data['country'].isin(['United Kingdom']))] 

# look into the records
# uk_data = netflix_data[(netflix_data['type'] == 'TV Show') & (netflix_data['country'] == 'United States')] 
# Export the DataFrame to a CSV file
# uk_data.to_csv('us_data.csv', index=False)

netflix_data[(netflix_data['type'] == 'TV Show') & (netflix_data['country'] == 'United Kingdom')] ['title']

142                          Murder Maps
147     Secrets of Great British Castles
187                       The Irregulars
205          Formula 1: Drive to Survive
232                           Zero Chill
                      ...
8603                         Wild Arabia
8611                  Booba: Food Puzzle
8621              World's Busiest Cities
8696       The Great British Baking Show
8796           Octonauts: Above & Beyond
Name: title, Length: 213, dtype: object

2. WHICH COUNTRY LOVES RELEASING / CONSUMING HORROR TV SHOWS/ MOVIES
---

In [90]:
# filtering all records that have Horror in the listed_in column
horror_list = netflix_data[netflix_data['listed_in'].str.contains('horror',case=False, na=False)]
# Group the data by 'country' and count the number of entries in each country
country_counts = horror_list['country'].str.split(', ').explode().value_counts()

# Find the country with the highest count
# max_country = country_counts.idxmax()
# max_count = country_counts.max()

# print(f"The country with the highest number of TV shows or movies is {max_country} with {max_count} entries.")

print(country_counts)

country
United States           238
Canada                   44
India                    42
United Kingdom           30
Unknown                  20
Thailand                 16
France                   13
Indonesia                11
Spain                    10
Japan                     9
South Korea               8
Mexico                    8
Germany                   7
Taiwan                    6
Philippines               5
Singapore                 5
Turkey                    5
Ireland                   4
Argentina                 4
Belgium                   4
Malaysia                  4
Australia                 4
Egypt                     4
Italy                     4
Norway                    3
Chile                     3
Brazil                    2
United Arab Emirates      2
South Africa              2
Nigeria                   2
Czech Republic            2
China                     2
Israel                    2
Poland                    2
Slovenia                  1
Serbia                    1
Peru                      1
West Germany              1
Dominican Republic        1
Iceland                   1
Vietnam                   1
New Zealand               1
Hungary                   1
Netherlands               1
Iran                      1
Qatar                     1
Jordan                    1
Bulgaria                  1
Pakistan                  1
Russia                    1
Austria                   1
Name: count, dtype: int64

3. SHOW THE TITTLE OF THE MOVIE IN UK
---

In [26]:
netflix_data[(netflix_data['type'] == 'Movie') & (netflix_data['country'] == 'United Kingdom')] ['title']

166                                   Not a Game
182     Elizabeth and Margaret: Love and Loyalty
314                                         Pelé
321         Fate: The Winx Saga - The Afterparty
350                                      Monsoon
                          ...
8598                  Why Are We Getting So Fat?
8606                                    Williams
8652                                You Can Tutu
8688                                  Layer Cake
8748                            Sitting in Limbo
Name: title, Length: 206, dtype: object

4. SHOW ALL THE MOVIES UNDER THE CATEGORY MOVIE THAT ARE COMEDIE AND RELEASED IN UK
----

In [43]:
netflix_data[(netflix_data['listed_in'].str.contains('Comedies', case=False))  & (netflix_data['type'] == 'Movie') & (netflix_data['country'] == 'United Kingdom') ]

# Filtering the string Comedies in the column 'listed_in'
# netflix_data[ (netflix_data['listed_in'].str.contains('Comedies', case=False)) ] #2255 rows

# Filtering the string Comedies in the column 'listed_in' and is a  Movie 
# netflix_data[ (netflix_data['listed_in'].str.contains('Comedies', case=False)) & (netflix_data['type'] == 'Movie')] #1674 rows

# Filtering the string Comedies in the column 'listed_in' and is a  Movie  or coutry is UK
# The first conditions before or will be checked if its TRUE in not the OR condition will run
# netflix_data[ (netflix_data['listed_in'].str.contains('Comedies', case=False)) & (netflix_data['type'] == 'Movie')| (netflix_data['country'] == 'United Kingdom')] #2061 rows

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
321,Movie,Fate: The Winx Saga - The Afterparty,Unknown,"David Spade, London Hughes, Fortune Feimster, ...",United Kingdom,"February 20, 2021",2021,TV-14,36 min,"Comedies, Dramas",Stars of the fiery hit discuss the show's magi...
566,Movie,Shaun the Sheep: The Farmer’s Llamas,Jay Grace,"Justin Fletcher, John Sparkes, Sean Connolly, ...",United Kingdom,"December 22, 2020",2020,TV-Y,28 min,"Children & Family Movies, Comedies",A trio of mischievous llamas from the county f...
900,Movie,Fisherman's Friends,Chris Foggin,"Daniel Mays, James Purefoy, David Hayman, Dave...",United Kingdom,"October 22, 2020",2019,PG-13,112 min,"Comedies, Dramas, Music & Musicals",Sea shanties have long united 10 Cornish fishe...
1096,Movie,Horrid Henry's Gross Day Out,Gary Andrews,"Lizzie Waterworth-Santo, Emma Tate, Sue Elliot...",United Kingdom,"September 17, 2020",2020,TV-Y,61 min,"Children & Family Movies, Comedies",Worlds collide when Henry makes plans to spend...
2145,Movie,Quartet,Dustin Hoffman,"Maggie Smith, Tom Courtenay, Billy Connolly, P...",United Kingdom,"August 8, 2021",2012,PG-13,98 min,"Comedies, Dramas, Independent Movies","To save their posh retirement home, former ope..."
2285,Movie,Breaking the Bank,Vadim Jean,"Kelsey Grammer, Tamsin Greig, John Michael Hig...",United Kingdom,"January 1, 2020",2014,TV-PG,105 min,"Comedies, International Movies",Bank chairman Charles Bunbury – who knows next...
2443,Movie,Mahi NRI,Gaurav Bavdankar,"Harrdy Sandhu, Poppy Jabbal, Rameet Kaur, B.N....",United Kingdom,"December 1, 2019",2017,TV-14,134 min,"Comedies, Dramas, International Movies",A Punjabi man attempts to build a life in Lond...
2594,Movie,Christmas Survival,James Dearden,"Julian Ovenden, Gemma Whelan, Joely Richardson...",United Kingdom,"November 1, 2019",2018,TV-MA,101 min,Comedies,"With Christmas just around the corner, sisters..."
2657,Movie,Free Fire,Ben Wheatley,"Sharlto Copley, Armie Hammer, Brie Larson, Cil...",United Kingdom,"October 21, 2019",2016,R,91 min,"Action & Adventure, Comedies, Independent Movies",A sketchy arms transaction in a deserted wareh...
3136,Movie,PATRICK (2019),Mandie Fletcher,"Beattie Edmondson, Ed Skrein, Tom Bennett, Jen...",United Kingdom,"May 16, 2019",2019,TV-PG,94 min,"Children & Family Movies, Comedies","When a schoolteacher inherits an adorable pug,..."
3233,Movie,About Time,Richard Curtis,"Domhnall Gleeson, Rachel McAdams, Bill Nighy, ...",United Kingdom,"April 16, 2019",2013,R,123 min,"Comedies, Dramas, International Movies",When Tim learns that the men in his family can...
3577,Movie,Monty Python and the Holy Grail,"Terry Gilliam, Terry Jones","Graham Chapman, John Cleese, Eric Idle, Terry ...",United Kingdom,"January 2, 2019",1975,PG,92 min,"Action & Adventure, Classic Movies, Comedies",The Monty Python comedy clan skewers King Arth...
3940,Movie,"Monty Python Live (Mostly): One Down, Five to Go",Eric Idle,"John Cleese, Terry Gilliam, Eric Idle, Terry J...",United Kingdom,"October 2, 2018",2014,TV-MA,137 min,Comedies,"Live from London in a sold-out final show, sur..."
3941,Movie,Monty Python: Before the Flying Circus,Will Yapp,"Graham Chapman, Eric Idle, Terry Jones, Michae...",United Kingdom,"October 2, 2018",2000,TV-MA,56 min,"Comedies, Documentaries",Discover how six seemingly ordinary but suprem...
3943,Movie,Monty Python: Live at The Hollywood Bowl,"Terry Hughes, Ian MacNaughton","Graham Chapman, John Cleese, Terry Gilliam, Er...",United Kingdom,"October 2, 2018",1982,R,80 min,Comedies,Film clips and Terry Gilliam animations featur...
3949,Movie,Monty Python's Life of Brian,Terry Jones,"Graham Chapman, John Cleese, Terry Gilliam, Er...",United Kingdom,"October 2, 2018",1979,R,94 min,"Classic Movies, Comedies, Cult Movies","Born in a stable in Judea, Brian grows up to j..."
3951,Movie,Parrot Sketch Not Included: Twenty Years of Mo...,Ian MacNaughton,"Steve Martin, John Cleese, Graham Chapman, Ter...",United Kingdom,"October 2, 2018",1989,TV-14,72 min,Comedies,"Presented by Steve Martin, this anthology draw..."
4991,Movie,Mindhorn,Sean Foley,"Julian Barratt, Andrea Riseborough, Essie Davi...",United Kingdom,"May 12, 2017",2017,TV-MA,88 min,"Comedies, Cult Movies, Independent Movies",When a twisted killer tells the police he'll o...
5702,Movie,Amar Akbar & Tony,Atul Malhotra,"Rez Kempton, Sam Vincenti, Martin Delaney, Kar...",United Kingdom,"June 20, 2017",2015,TV-MA,92 min,"Comedies, Dramas, International Movies",The brotherly bond between three childhood fri...
6197,Movie,Dead in a Week (Or Your Money Back),Tom Edmunds,"Tom Wilkinson, Aneurin Barnard, Freya Mavor, M...",United Kingdom,"March 1, 2019",2018,TV-MA,90 min,Comedies,After several failed attempts at taking his ow...
6388,Movie,Figaro Pho,Luke Jurevicius,Luke Jurevicius,United Kingdom,"September 1, 2016",2008,TV-Y7,29 min,"Children & Family Movies, Comedies",Quirky little Figaro has a whole alphabet's wo...
6423,Movie,For Love or Money,Mark Murphy,"Robert Kazinsky, Samantha Barks, Ed Speleers, ...",United Kingdom,"August 16, 2019",2019,TV-MA,95 min,Comedies,When a goofy but likable millionaire discovers...
6437,Movie,Four Weddings and a Funeral,Mike Newell,"Hugh Grant, Andie MacDowell, James Fleet, Simo...",United Kingdom,"August 1, 2019",1994,R,118 min,"Classic Movies, Comedies, International Movies",A commitment-phobic Brit tries to reconnect wi...
6674,Movie,Hot Property,Max McGill,"MyAnna Buring, Tom Rhys Harries, Ella Smith, S...",United Kingdom,"August 13, 2017",2016,TV-MA,82 min,"Comedies, Independent Movies",When a resourceful but flighty Londoner is thr...
7031,Movie,"Lock, Stock and Two Smoking Barrels",Guy Ritchie,"Jason Flemyng, Dexter Fletcher, Nick Moran, Ja...",United Kingdom,"January 1, 2019",1998,R,108 min,"Action & Adventure, Comedies, Independent Movies",Hoping to make a bundle in a high-stakes poker...
7113,Movie,Mansfield Park,Patricia Rozema,"Frances O'Connor, Embeth Davidtz, Jonny Lee Mi...",United Kingdom,"January 1, 2020",1999,PG-13,112 min,"Comedies, Dramas, International Movies",A poor heroine is sent to live with wealthy re...
8004,Movie,The Bad Education Movie,Elliot Hegarty,"Jack Whitehall, Joanna Scanlan, Iain Glen, Eth...",United Kingdom,"December 15, 2018",2015,TV-MA,87 min,Comedies,Britain's most ineffective but caring teacher ...
8275,Movie,The Parole Officer,John Duigan,"Steve Coogan, Emma Gilmour, Susan Jane Tanner,...",United Kingdom,"August 1, 2018",2001,R,94 min,"Action & Adventure, Comedies","After witnessing a murder, Simon Garden is fra..."
8375,Movie,The Trip to Spain,Michael Winterbottom,"Steve Coogan, Rob Brydon, Marta Barrio, Claire...",United Kingdom,"December 12, 2017",2016,TV-MA,108 min,Comedies,Comedians Steve Coogan and Rob Brydon gorge on...
8462,Movie,Trainspotting,Danny Boyle,"Ewan McGregor, Ewen Bremner, Jonny Lee Miller,...",United Kingdom,"October 1, 2019",1996,R,94 min,"Comedies, Cult Movies, Dramas",Renton and his mates cope with the gritty real...
8553,Movie,War on Everyone,John Michael McDonagh,"Alexander Skarsgård, Michael Peña, Theo James,...",United Kingdom,"December 3, 2019",2016,R,98 min,"Action & Adventure, Comedies",Terry and Bob excel at blackmailing small-time...
8594,Movie,White Island,Benjamin Turner,"Lyndon Ogbourne, Billy Zane, Billy Boyd, Joel ...",United Kingdom,"September 25, 2017",2016,TV-MA,91 min,"Comedies, Independent Movies, Thrillers",Returning to Ibiza after several years walking...

4. FIND THE NUMBER OF TV SHOWS AND MOVIES TOW CRUISE WAS CASTED IN
---

In [42]:
netflix_data[netflix_data['cast'].str.contains('Tom Cruise')]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
285,Movie,Rain Man,Barry Levinson,"Dustin Hoffman, Tom Cruise, Valeria Golino, Ge...",United States,"March 1, 2021",1988,R,134 min,"Classic Movies, Dramas","Motivated by money, a selfish workaholic seeki..."
2690,Movie,Magnolia,Paul Thomas Anderson,"John C. Reilly, Philip Baker Hall, Tom Cruise,...",United States,"August 1, 2021",1999,R,189 min,"Dramas, Independent Movies","Through chance, history and divine interventio..."

4. Show all the Movies that were released btwn the year 2010 and 2023 by Filtering
---

In [93]:
netflix_data[(netflix_data['type'] == 'Movie')  & ( (netflix_data['release_year'] >= 2010) & (netflix_data['release_year'] <= 2023))]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Minutes,Units,year_added
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",90.0,min,2021.0
1,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,104.0,min,2021.0
3,Movie,Stowaway,Joe Penna,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Germany, United States",2021-04-22,2021,TV-MA,116 min,"Dramas, International Movies, Thrillers",A three-person crew on a mission to Mars faces...,116.0,min,2021.0
4,Movie,Wild Dog,Ahishor Solomon,"Nagarjuna Akkineni, Dia Mirza, Saiyami Kher, A...",Unknown,2021-04-22,2020,TV-MA,126 min,"Action & Adventure, International Movies",A brash but brilliant Indian intelligence agen...,126.0,min,2021.0
5,Movie,Oloibiri,Curtis Graham,"Olu Jacobs, Richard Mofe-Damijo, William R. Mo...","Canada, Nigeria, United States",2021-04-21,2015,TV-14,86 min,"Dramas, International Movies, Thrillers","After drilling depletes a small village, a cor...",86.0,min,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8799,Movie,One Like It,Marwan Nabil,"Riham Abdel Ghafour, Mohammed Aly Rizk, Hazem ...",Egypt,2021-04-23,2020,TV-G,15 min,"Dramas, Independent Movies, International Movies",This short film follows a day in the life of a...,15.0,min,2021.0
8800,Movie,Perfume Imaginary Museum “Time Warp”,"MIKIKO, Daito Manabe",Perfume,Unknown,2021-04-23,2020,TV-G,54 min,"International Movies, Music & Musicals",This visually stunning special performance was...,54.0,min,2021.0
8802,Movie,This Lady Called Life,Kayode Kasum,"Bisola Aiyeola, Efa Iwara, Molawa Onajobi, Tin...",Nigeria,2021-04-23,2020,TV-14,120 min,"Dramas, International Movies, Romantic Movies","Abandoned by her family, young single mother A...",120.0,min,2021.0
8804,Movie,HOMUNCULUS,Takashi Shimizu,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...",Japan,2021-04-22,2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers",Truth and illusion blurs when a homeless amnes...,116.0,min,2021.0
8806,Movie,Searching For Sheela,Unknown,Ma Anand Sheela,India,2021-04-22,2021,TV-14,58 min,"Documentaries, International Movies",Journalists and fans await Ma Anand Sheela as ...,58.0,min,2021.0

5. WHAT ARE THE DIFFERENT RATING DEFINED BY NETFLIX
----

In [44]:
# Movies in Canada with TV-14 rating
netflix_data[(netflix_data['country'].str.contains('Canada', case=False))  & (netflix_data['type'] == 'Movie') & (netflix_data['rating'] == 'TV-14') ]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5,Movie,Oloibiri,Curtis Graham,"Olu Jacobs, Richard Mofe-Damijo, William R. Mo...","Canada, Nigeria, United States","April 21, 2021",2015,TV-14,86 min,"Dramas, International Movies, Thrillers","After drilling depletes a small village, a cor..."
313,Movie,Made You Look: A True Story About Fake Art,Barry Avrich,Unknown,Canada,"February 23, 2021",2020,TV-14,90 min,"Documentaries, International Movies",A woman walks into a New York gallery with a c...
645,Movie,Level 16,Danishka Esterhazy,"Katie Douglas, Celina Martin, Peter Outerbridg...",Canada,"September 1, 2021",2018,TV-14,102 min,"Sci-Fi & Fantasy, Thrillers",In a bleak academy that teaches girls the virt...
802,Movie,We Are All For The Fatherland,Unknown,Unknown,"Lebanon, Canada, France","November 11, 2020",1979,TV-14,74 min,"Documentaries, International Movies","After the 1978 Israeli invasion of Lebanon, ch..."
926,Movie,Whispers,Maroun Baghdadi,"Nadia Tueni, Ziad Rahbani","Lebanon, Canada, France","October 19, 2020",1980,TV-14,93 min,"Documentaries, International Movies","With her home devastated by war, a Lebanese po..."
1465,Movie,The Silence of Others,"Almudena Carracedo, Robert Bahar",Unknown,"Spain, France, Canada, United States","July 1, 2020",2019,TV-14,96 min,"Documentaries, International Movies","Filmed over six years, this documentary captur..."
1968,Movie,There's Something in the Water,"Ellen Page, Ian Daniel",Ellen Page,Canada,"March 27, 2020",2019,TV-14,72 min,"Documentaries, International Movies",This documentary spotlights the struggle of mi...
2696,Movie,"Martin Matte: La vie, la mort...eh la la..!",Jean-François Blais,Martin Matte,Canada,"October 14, 2019",2019,TV-14,62 min,Stand-Up Comedy,Quebecois comedy star Martin Matte serves up e...
5216,Movie,For the Love of Spock,Adam Nimoy,"Leonard Nimoy, William Shatner, George Takei, ...","Canada, United States","December 2, 2016",2016,TV-14,112 min,Documentaries,The son of actor Leonard Nimoy directs this mo...
5265,Movie,I Am the Pretty Thing That Lives in the House,Osgood Perkins,"Ruth Wilson, Bob Balaban, Lucy Boynton, Paula ...","Canada, United States","October 28, 2016",2016,TV-14,89 min,"Horror Movies, International Movies, Thrillers",A nervous nurse who scares easily finds hersel...
5526,Movie,#cats_the_mewvie,Michael Margolis,Unknown,Canada,"February 5, 2020",2020,TV-14,90 min,"Documentaries, International Movies",This pawesome documentary explores how our fel...
5527,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,105 min,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...
5771,Movie,At First Light,Jason Stone,"Stefanie Scott, Theodore Pellerin, Percy Hynes...",Canada,"December 27, 2018",2018,TV-14,91 min,"Dramas, Sci-Fi & Fantasy",After mysterious lights imbue her with extraor...
5772,Movie,ATM,Mez Tharatorn,"Chantavit Dhanasevi, Preechaya Pongthananikorn...","United States, Canada","September 5, 2018",2012,TV-14,122 min,"Comedies, International Movies, Romantic Movies","When a broken ATM dishes out a fortune, a coup..."
6154,Movie,Counterfeiting in Suburbia,Jason Bourque,"Sarah Butler, Larissa Albuquerque, Kayla Walla...",Canada,"July 1, 2018",2018,TV-14,88 min,"Dramas, Thrillers",Two teenagers print counterfeit money in their...
6325,Movie,Empire of Scents,Kim Nguyen,Unknown,"Canada, France, Italy, Morocco, United States","January 1, 2018",2014,TV-14,87 min,"Documentaries, International Movies",This documentary explores the extent to which ...
6681,Movie,House of Z,Sandy Chronopoulos,Zac Posen,"United States, Canada","January 6, 2018",2016,TV-14,88 min,Documentaries,Featuring archival footage and exclusive inter...
7040,Movie,Long Time Running,"Jennifer Baichwal, Nicholas de Pencier","Gord Downie, Paul Langlois, Gord Sinclair, Rob...",Canada,"November 12, 2017",2017,TV-14,96 min,"Documentaries, International Movies, Music & M...",This documentary follows the 2016 tour of belo...
7561,Movie,Punjab 1984,Anurag Singh,"Diljit Dosanjh, Kiron Kher, Sonam Bajwa, Pavan...","Canada, India","November 1, 2017",2014,TV-14,158 min,"Dramas, International Movies","During a time of political turmoil, a mother g..."
7654,Movie,Romeo Ranjha,Navaniat Singh,"Jazzy B, Garry Sandhu, Monica Bedi, Parul Gula...","India, Canada","November 1, 2017",2014,TV-14,122 min,"Action & Adventure, Comedies, Music & Musicals",Two common boys travel from India to Thailand ...
7686,Movie,Sadie's Last Days on Earth,Michael Seater,"Morgan Taylor Campbell, Clark Backo, Ricardo H...",Canada,"August 22, 2017",2016,TV-14,94 min,"Comedies, Sci-Fi & Fantasy",High schooler Sadie Mitchell believes the worl...
7708,Movie,Sardaar ji,Rohit Jugraj,"Diljit Dosanjh, Neeru Bajwa, Mandy Takhar, Jas...",Canada,"December 1, 2017",2015,TV-14,140 min,"Comedies, International Movies, Music & Musicals",When a palatial wedding venue turns out to be ...
7870,Movie,Star Men,Alison E. Rose,Unknown,"Canada, United States, United Kingdom","February 5, 2017",2015,TV-14,88 min,Documentaries,Four astronomers from England celebrate 50 yea...
7977,Movie,The Accountant of Auschwitz,Matthew Shoychet,Unknown,Canada,"July 1, 2019",2018,TV-14,78 min,"Documentaries, International Movies","Decades after WWII, a former SS officer stands..."
8157,Movie,The Healer,Paco Arango,"Oliver Jackson-Cohen, Camilla Luddington, Jona...","Spain, Canada, United States","June 1, 2020",2017,TV-14,108 min,"Children & Family Movies, Dramas, Faith & Spir...",A handyman who has hit rock bottom agrees to l...
8293,Movie,The Power of Grayskull: The Definitive History...,"Randall Lobb, Robert McCallum",Unknown,"Canada, United States","August 24, 2018",2017,TV-14,96 min,Documentaries,This colorful documentary explores the origins...
8408,Movie,The Wrong Babysitter,George Mendeluk,"Daphne Zuniga, Seann Gallagher, Lisa Marie Car...",Canada,"June 18, 2019",2017,TV-14,89 min,Thrillers,A widow searches for her missing teenage daugh...
8448,Movie,Tokyo Idols,Kyoko Miyake,Unknown,"United Kingdom, Canada, Japan","October 1, 2017",2017,TV-14,89 min,"Documentaries, International Movies, Music & M...",This documentary follows J-Pop idol Rio and he...
8515,Movie,Union Leader,Sanjay Patel,"Rahul Bhat, Tillotama Shome, Haresh Dagiya, Ja...","Canada, India","December 31, 2019",2017,TV-14,105 min,"Dramas, Independent Movies, International Movies",Toxic conditions and a corrupt union leader pr...

6. HOW MANY TV SHOW GOT THE 'R' RATING AFTER 2018  OR HOW MANY MOVIES GOT THE 'R' RATING AFTER 2018
---

In [46]:
netflix_data[(netflix_data['rating']== 'R') & (netflix_data['type']=='TV Show')]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3216,TV Show,The Hateful Eight: Extended Version,Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",Unknown,"April 25, 2019",2015,R,1 Season,TV Shows,Trapped at a stagecoach stop as a storm rages ...
7327,TV Show,Nobel,Unknown,"Aksel Hennie, Tuva Novotny, Anders Danielsen L...",Norway,"December 10, 2016",2016,R,1 Season,"International TV Shows, TV Dramas, TV Thrillers",A series of incidents in Afghanistan set compl...

In [49]:
netflix_data[(netflix_data['rating'] == 'R') & (netflix_data['type'] =='Movie') & (netflix_data['release_year'] > 2018) ]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
41,Movie,Synchronic,"Justin Benson, Aaron Moorhead","Anthony Mackie, Jamie Dornan, Katie Aselton, A...",United States,"April 16, 2021",2020,R,102 min,Thrillers,Two paramedics begin to question their realiti...
95,Movie,The Stand-In,Jamie Babbit,"Drew Barrymore, Michael Zegen, T.J. Miller, Ho...",United States,"April 10, 2021",2020,R,102 min,Comedies,"Her career in shambles, a reclusive movie star..."
120,Movie,Concrete Cowboy,Ricky Staub,"Idris Elba, Caleb McLaughlin, Jharrel Jerome, ...","United Kingdom, United States","April 2, 2021",2021,R,112 min,"Dramas, Independent Movies",Sent to live with his estranged father for the...
121,Movie,Cross: Rise of the Villains,"Patrick Durham, Paul G. Volk","Brian Austin Green, Vinnie Jones, Lori Heuring...",United States,"April 2, 2021",2019,R,100 min,Action & Adventure,"Armed with a mighty ancient amulet, a team of ..."
200,Movie,Jiu Jitsu,Dimitri Logothetis,"Alain Moussi, Nicolas Cage, Tony Jaa, Rick Yun...",United States,"March 20, 2021",2020,R,102 min,Action & Adventure,"After the defeat of a celebrated war hero, an ..."
...,...,...,...,...,...,...,...,...,...,...,...
7724,Movie,Saving Zoë,Jeffrey G. Hunt,"Laura Marano, Vanessa Marano, Christopher Tava...",United States,"January 15, 2020",2019,R,95 min,Dramas,A reserved high school freshman acts out when ...
8000,Movie,Kate,Cedric Nicolas-Troyan,"Mary Elizabeth Winstead, Jun Kunimura, Woody H...",United States,"September 10, 2021",2021,R,106 min,Action & Adventure,"Slipped a fatal poison on her final job, a rut..."
8034,Movie,The Wind,Emma Tammi,"Caitlin Gerard, Julia Goldani Telles, Ashley Z...",United States,"June 2, 2021",2019,R,88 min,Horror Movies,Isolated on a wind-ravaged 19th-century homest...
8378,Movie,Army of the Dead,Zack Snyder,"Dave Bautista, Ella Purnell, Omari Hardwick, G...",United States,"May 21, 2021",2021,R,148 min,"Action & Adventure, Horror Movies","After a zombie outbreak in Las Vegas, a group ..."
8686,Movie,The Woman in the Window,Joe Wright,"Amy Adams, Gary Oldman, Anthony Mackie, Fred H...",United States,"May 14, 2021",2021,R,102 min,"Dramas, Thrillers","Confined to her home by agoraphobia, a psychol..."

7. WHAT IS THE MAXIMUM DURATION OF MOVIE AND TV SHOWS IN NETFLIX
---

In [57]:
netflix_data['duration'].unique()

array(['90 min', '104 min', '1 Season', '116 min', '126 min', '86 min',
       '97 min', '2 Seasons', '76 min', '80 min', '81 min', '84 min',
       '87 min', '91 min', '132 min', '3 Seasons', '101 min', '102 min',
       '147 min', '224 min', '141 min', '109 min', '162 min', '142 min',
       '93 min', '60 min', '119 min', '37 min', '96 min', '123 min',
       '127 min', '88 min', '106 min', '117 min', '65 min', '7 Seasons',
       '143 min', '137 min', '75 min', '71 min', '103 min', '128 min',
       '6 Seasons', '130 min', '5 Seasons', '145 min', '77 min', '79 min',
       '78 min', '118 min', '4 Seasons', '108 min', '133 min', '107 min',
       '32 min', '55 min', '92 min', '140 min', '89 min', '94 min',
       '112 min', '100 min', '120 min', '98 min', '113 min', '158 min',
       '164 min', '121 min', '173 min', '182 min', '181 min', '185 min',
       '99 min', '114 min', '149 min', '110 min', '83 min', '111 min',
       '73 min', '21 min', '95 min', '105 min', '115 min', '24 min',
       '51 min', '139 min', '74 min', '131 min', '136 min', '151 min',
       '42 min', '22 min', '134 min', '177 min', '35 min', '58 min',
       '36 min', '85 min', '63 min', '138 min', '13 Seasons', '154 min',
       '52 min', '82 min', '161 min', '129 min', '14 min', '148 min',
       '124 min', '53 min', '54 min', '9 Seasons', '8 min', '46 min',
       '68 min', '57 min', '28 min', '66 min', '50 min', '125 min',
       '59 min', '9 min', '26 min', '25 min', '48 min', '10 Seasons',
       '45 min', '171 min', '229 min', '13 min', '64 min', '135 min',
       '70 min', '67 min', '150 min', '15 min', '27 min', '156 min',
       '69 min', '47 min', '165 min', '33 min', '44 min', '29 min',
       '122 min', '8 Seasons', '146 min', '20 min', '61 min', '157 min',
       '72 min', '155 min', '17 min', '203 min', '41 min', '30 min',
       '62 min', '166 min', '194 min', '15 Seasons', '204 min', '233 min',
       '237 min', '230 min', '195 min', '253 min', '152 min', '190 min',
       '160 min', '23 min', '208 min', '180 min', '144 min', '5 min',
       '174 min', '170 min', '192 min', '209 min', '187 min', '172 min',
       '16 min', '186 min', '11 min', '193 min', '176 min', '56 min',
       '169 min', '40 min', '34 min', '189 min', '38 min', '10 min',
       '12 min', '3 min', '49 min', '168 min', '312 min', '153 min',
       '159 min', '214 min', '31 min', '39 min', '163 min', '19 min',
       '12 Seasons', '17 Seasons', '179 min', '11 Seasons', '43 min',
       '200 min', '196 min', '167 min', '273 min', '178 min', '228 min',
       '212 min', '18 min', '205 min', '201 min', '191 min'], dtype=object)

In [63]:
# MAX duration of Movies in NETFLIX
netflix_data[['Minutes', 'Units']] = netflix_data['duration'].str.split(' ' , expand=True)
# netflix_data.head(5)

# turn the Minutes column to float
netflix_data['Minutes'] = netflix_data['Minutes'].astype(float)
# netflix_data.dtypes

netflix_data.Minutes.max() 
# netflix_data.Minutes.describe()

312.0

In [68]:
# Max seasons in NETFLIX
netflix_seasons = netflix_data[netflix_data['Units'] == 'Seasons']
# netflix_seasons.Minutes.max() #17

# find the value count of the seasons in NETFLIX
netflix_seasons['Minutes'].value_counts()

Minutes
2.0     425
3.0     199
4.0      95
5.0      65
6.0      33
7.0      23
8.0      17
9.0       9
10.0      7
13.0      3
15.0      2
12.0      2
11.0      2
17.0      1
Name: count, dtype: int64

8. WHICH COUNTRY HAS THE HIGHEST NO. OF TV SHOWS / MOVIES
---

In [71]:
tv_show_data = netflix_data[netflix_data['type'] == 'TV Show']
tv_show_data['country'].value_counts()

country
United States                           760
Unknown                                 391
United Kingdom                          213
Japan                                   169
South Korea                             158
                                       ...
Austria, Germany                          1
Puerto Rico, United States, Colombia      1
United States, Mexico, Colombia           1
Italy, United Kingdom, France             1
Australia, United Kingdom                 1
Name: count, Length: 197, dtype: int64

In [72]:
tv_show_data = netflix_data[netflix_data['type'] == 'Movie']
tv_show_data['country'].value_counts()

country
United States                                 2058
India                                          893
Unknown                                        440
United Kingdom                                 206
Canada                                         122
                                              ...
Ireland, Canada                                  1
Norway, Denmark, Netherlands, Sweden             1
United Kingdom, Japan                            1
Canada, Germany, France, United States           1
United States, United Kingdom, New Zealand       1
Name: count, Length: 652, dtype: int64

Analyzing the top 5 Actors on Netflix

In [ ]:
# EXAMPLE

df['cast']=df['cast'].fillna('No cast specified')
cast_df = pd.DataFrame()
cast_df = df['cast'].str.split(',',expand=True).stack()
cast_df = cast_df.to_frame()
cast_df.columns = ['Actor']
actors = cast_df.groupby(['Actor']).size().reset_index(name = 'Total Count')
actors = actors[actors.Actor != 'No cast specified']
actors = actors.sort_values(by=['Total Count'], ascending=False)
top5Actors = actors.head()
top5Actors = top5Actors.sort_values(by=['Total Count'])
barChart2 = px.bar(top5Actors, x='Total Count', y='Actor', title='Top 5 Actors on Netflix')
barChart2.show()